<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
</head>
<body>
<h1>Currency Converter</h1>

<form action="/convert" method="GET">
    <label for="dollar">Amount of dollars</label>
    <input type="number" step="any" name="dollar_amount" id="dollar"/>
    <br>
    <label for="to_currency">Convert from</label>
    <br>
    <select name="to_currency" id="to_currency">
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
        <option value="IR">Indian Rupees</option>
        <option value="EP">Egyptian Pound</option>
        <option value="BITCOIN"> Internet Bitcoin</option>
    </select>
<br>to <br>
    <select name="from_currency" id="from_currency">
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
        <option value="IR">Indian Rupees</option>
        <option value="EP">Egyptian Pound</option>
        <option value="BITCOIN"> Internet Bitcoin</option>
    </select>
    <br>
    <button type="submit">Convert</button>
</form>



